* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "", cursive;
  }
  
  .heading {
    font-weight: 800;
    color: rgb(96, 218, 255);
  }
  
  .input_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    /* border: 3px solid rgb(96, 218, 255); */
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 0.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  }
  
  .input_div .input {
    font-family: cursive;
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    border: none;
    background-color: #ffff;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .addButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    margin: 0.25rem;
    background-color: rgb(96, 218, 255);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .addButton:hover {
    opacity: 0.7;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .item {
    font-family: cursive;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 4px solid rgb(96, 218, 255);
  }
  
  .item_input {
    background: none;
    outline: none;
    color: rgb(0, 0, 0);
    border: none;
    width: 350px;
    font-size: 1.4rem;
  }
  
  .editButton {
    font-size: 1.4rem;
    margin: 0 0.5rem;
    font-family: "Times n", cursive;
    background: none;
    outline: none;
    color: rgb(96, 218, 255);
    border: none;
    cursor: pointer;
  }
  
  .removeButton {
    font-size: 1.4rem;
    margin: 0 0.5rem;
    font-family: "Georgia ", cursive;
    background: none;
    outline: none;
    color: rgb(244, 124, 124);
    border: none;
    cursor: pointer;
  }
  
  .plus {
    font-weight: 800;
  }
  
  .footer {
    font-family: cursive;
    padding: 1rem;
    color: white;
    background-color: rgb(96, 218, 255);
  
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
  